.textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    padding: 1.25vw 0.83vw;
    background: none;
    color: var(--input-color);
    line-height: var(--bs-line-height);
    font-size: var(--bs-font-size);
    border: 1px solid var(--input-color);
    border-radius: var(--border-radius);
}

.textarea::placeholder {
    color: var(--input-color);
}

.textarea:focus {
    outline: none;
}