*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-size: inherit;
    font-weight: 400;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    background-color: var(--bg-color);
    font-family: var(--base-font);
    color: var(--text-color);
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

html,
body{
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a{
    display: inline-block;
    text-decoration-skip-ink: auto;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: top;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

button{
    padding: 0;
    background-color: inherit;
    border: none;
    font: inherit;
    outline: none
}

button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:none;}

input::-ms-clear{display: none;}

figure {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}