.select {
    position: relative;
}

.select_button button {
    padding: 1.25vw 0.83vw;
    width: 100%;
    background: none;
    color: var(--input-color);
    line-height: var(--bs-line-height);
    font-size: var(--bs-font-size);
    border: 1px solid var(--input-color);
    border-radius: var(--border-radius);
    text-align: left;
}

.select_button svg {
    position: absolute;
    top: 1.15vw;
    right: 0.83vw;
    display: block;
    width: 1.61vw;
    height: 1.61vw;
}

.select_button svg path {
    fill: var(--input-color)
}

.select_options {
    position: absolute;
    display: none;
    z-index: 3;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: var(--bg-color);
    font-size: var(--bs-font-size);
    text-transform: capitalize;
    border: var(--border-radius);
}

.active {
    display: block;
}

.select_options li {
    width: 100%;
    padding: 1.25vw 0.83vw;
}

.target {
    background-color: var(--first-acent-color-opacity);
}