.fill_red, .border_gray{
    width: 100%;
    text-align: center;
    border-radius: var(--border-radius);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.89vw;
    color: var(--text-color);
    padding: 1.46vw 0;
}

.fill_red {
    background: var(--second-accent-color);
    border: 0.07vw solid var(--second-accent-color);
}

.border_gray {
    border: 0.07vw solid var(--input-color);
}
