.block {
    position: relative;
    display: block;
    margin-bottom: 1.56vw;
}

.block_label {
    display: block;
    margin-bottom: 0.52vw;
    font-size: var(--bs-font-size);
    line-height: var(--bs-line-height);
    font-weight: 700;
}