.block {
    background-color: var(--platform-card-bg-color);
    border-radius: 0.36vw;
    width: 100%;
    height: 26.04vw;
    cursor: pointer;
}

.block_img {
    position: relative;
}

.block_img img {
    width: 100%;
    height: 13.80vw;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.36vw 0.36vw 0.16vw 0.16vw;
}

.block_img button {
    top: 0.52vw;
    left: 0.52vw;
    width: 1.56vw;
    height: 1.56vw;
}

.block_description {
    padding: 1.56vw 1.41vw 1.72vw 1.41vw;
}

.description_content {
    position: relative;
    height: 9.05vw;
}

.description_content h3 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.25vw;
}

.content_specifications {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    font-size: 0.94vw;
    line-height: 1.4vw;
}

.specification_items {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.32vw;
}

.specification_items div {
    position: relative;
}

.specification_items span {
    width: 0.50vw;
    height: 0.50vw;
    background-color: var(--third-accent-color);
    border-radius: 100%;
}

.specification_items sup {
    font-size: 0.52vw;
    line-height: 0;
}

.content_info {
    display: flex;
    justify-content: space-between;
}

.content_info div {
    display: flex;
    align-items: center;
}

.content_info p {
    font-size: 0.94vw;
    line-height: 1.32vw;
}

.content_info span {
    font-size: 0.73vw;
    line-height: 0.89vw;
    color: var(--second-accent-color);
    margin-right: 0.35vw;
    font-weight: 700;
}