.form_fields {
    margin-top: 1.56vw;
}

.form_fields input {
    border-color: var(--text-color);
    padding-left: 1.51vw;
    color: var(--text-color);
}

.form_fields input::placeholder {
    color: var(--text-color);
    letter-spacing: normal;
}

.form_fields input[type='password'] {
    letter-spacing: 0.1vw;
}

.form_button {
    width: 21.88vw;
    margin-top: 2.08vw;
}

.form_social {
    margin-top: 1.93vw;
    font-size: var(--bs-font-size);
    font-weight: 700;
}

.form_social p {
    line-height: var(--bs-line-height);
    margin-bottom: 0.52vw;
}

.form_social_icons {
    display: flex;
    gap: 0.99vw;
}

.form_social_icon {
    padding: 1.04vw;
    width: 4.69vw;
    height: 4.69vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background: rgba(255, 255, 255, 0.3);
}
